---
import { turso } from "../turso"
import "../styles/main.css"
import Layout from "../layouts/layout.astro"
import Post from "../components/post.astro"
import ComposePost from "../components/compose-post.svelte"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
//console.log(session)
//await turso.execute("DROP TABLE posts")
await turso.execute(`CREATE TABLE IF NOT EXISTS posts (
		id INTEGER PRIMARY KEY AUTOINCREMENT,
		user_name TEXT,
		user_photo TEXT,
		message TEXT
				)`)

const { rows } = await turso.execute("SELECT id, user_name, user_photo, message FROM posts")

console.log(rows)
---

<Layout>
	<main class="max-w-[40em] p-[16px] flex flex-col gap-[20px]">
		<ComposePost client:load />
		{rows.map((post) => (
			<Post 
				userFullName={`${post.user_name}`}
				content={`${post.message}`}
			/>
		))}
	</main>
	<button id="login">Click to login</button>
	<script>
		const { signIn } = await import("auth-astro/client")
		const $button = document.getElementById("login")

		$button?.addEventListener("click", async (ev) => {
			ev.preventDefault()

			await signIn("github")
		})
	</script>
</Layout>
