---
import Layout from "../layouts/layout.astro"
import Post from "../components/post.astro"
import ComposePost from "../components/compose-post.svelte"
import "../styles/main.css"
---

<Layout>
	<main class="max-w-[40em] p-[16px] flex flex-col gap-[20px]">
		<ComposePost />
		<Post 
			userFullName={"Erik"}
			username={"@erixweb"}
			content={"Hola!!!!!!!"}
			id="1"
		/>
	</main>
</Layout>